name: Build & Push Image to ACR

on:
  workflow_call:
    inputs:
      image_tag:
        required: true
        type: string
    secrets:
      IMAGE_NAME:
        required: true
      ACR_NAME:
        required: true
      AZURE_CREDENTIALS:
        required: true   # JSON secret containing clientId, clientSecret, tenantId, subscriptionId

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.ACR_NAME }}.azurecr.io
          username: ${{ fromJSON(secrets.AZURE_CREDENTIALS).clientId }}
          password: ${{ fromJSON(secrets.AZURE_CREDENTIALS).clientSecret }}

      - name: Build Docker image
        run: |
          docker build \
            -t ${{ secrets.ACR_NAME }}.azurecr.io/${{ secrets.IMAGE_NAME }}:${{ inputs.image_tag }} .

      - name: Push Docker image
        run: |
          docker push \
            ${{ secrets.ACR_NAME }}.azurecr.io/${{ secrets.IMAGE_NAME }}:${{ inputs.image_tag }}
